<!-- Hero Section -->
<div class="container mx-auto px-4 my-6 relative image-container hover:bg-[rgba(0,0,0,0.88)]">
  <%= image_tag "main-image.jpg", class: "w-full h-auto mx-auto", alt: "shop image" %>
  <div class="image-caption">
    <h1>متجر ألبسة</h1>
    <p>أفضل أنوع الألبسة المحلية والمستوردة</p>
  </div>
</div>

<!-- Filter Section -->
<div class="container mx-auto px-4 my-6 text-center">
  <div class="flex flex-wrap justify-center gap-6 mx-8">
    <form action="/#" method="get" class="w-full max-w-md">
      <select class="form-select d-inline-block my-1 mx-3" name="category">
        <option selected disabled>الصنف</option>
        <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.title %></option>
        <% end %>
      </select>
      <select class="form-select d-inline-block my-1 mx-3" name="size">
        <option selected disabled>المقاس</option>
        <option value="1">صغير</option>
        <option value="2">متوسط</option>
        <option value="3">كبير</option>
      </select>
      <select class="form-select d-inline-block my-1 mx-3" name="price">
        <option selected disabled>السعر</option>
        <option value="1">أقل من 50$</option>
        <option value="2">أقل من 300$</option>
        <option value="3">300$ وأكثر</option>
      </select>
      <input class="btn-group btn-primary" type="submit" value="تصفية">
    </form>
  </div>
</div>

<!-- Products Section -->
<div class="container mx-auto px-4 my-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
    <% @products.each do |product| %>
    <!-- Product Card 1 -->
    <div class="bg-white rounded-lg shadow-lg overflow-hidden product-card w-full max-w-sm">
      <%# <%= image_tag "products/02.jpg", class: "w-full h-64 object-cover", alt: "جاكيت رجالي" %>
      <%# <%= image_tag "products/#{products.image_url}", class: "w-full h-64 object-cover", alt: product.name %>
        <%= image_tag(product.image_url, class: "card-img-top", alt: product.name) %>

      <div class="p-6 text-center">
        <h3 class="text-xl font-bold mb-3 text-gray-800"><%= product.name %></h3>
        <p class="text-gray-600 mb-4 px-4"><%= product.details %></p>
        <div class="mb-4 space-y-1">
          <div class="text-sm font-semibold text-gray-700">السعر: <%= product.price %>$</div>
          <div class="text-sm font-semibold text-gray-700">المقاس: <%= product.size %></div>
        </div>
        <a class="btn btn-primary" href="/products/<%= product.id %>">عرض التفاصيل</a>
          <%= button_to('اضافة الى السلة', cart_add_to_cart_path, :class => "btn btn-primary", :form_class => "mt-5 d-inline-block", method: :post, params: { product_id: product.id }, :onclick => "alert('تمت إضافة المنتج إلى السلة!')") %>
      </div>
    </div>
    <% end %>
  </div>
</div>
