  <div class="container mx-auto px-4 my-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-white rounded-lg shadow-lg overflow-hidden p-6">
    <div class="flex justify-center">
      <%= image_tag(@product.image_url, class: "w-full h-auto max-w-md rounded-lg shadow-md", alt: @product.name) %>
    </div>
    <div class="flex flex-col justify-center space-y-4">
      <span class="text-sm font-semibold text-gray-600"><%= @product.category.title%> - <%= @product.price %>$</span>
      <h3 class="text-2xl font-bold text-gray-800"><%= @product.name %></h3>
      <h2 class="text-3xl font-bold text-blue-600"><%= @product.price %>$</h2>
      <a href="#" class="btn btn-primary  !w-fit">إضافة إلى السلة</a>
      <div class="mt-6">
        <h5 class="text-lg font-semibold text-gray-800 mb-2">تفاصيل المنتج</h5>
        <p class="text-gray-600 leading-relaxed">
          <%= @product.details %>
        </p>
      </div>
    </div>
  </div>
</div>
